.flex-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 700px) {
  .flex-center {
      flex-flow: column;
  }
  .content-left {
      width: auto; 
  }
  .content-right {
      width: auto;
  }
}
.content-left {
    width: 50%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
.content-right {
    width: 50%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
.padding-all {
    padding: 25px 25px 25px 25px;
}
.margin-all {
    margin: 25px 25px 25px 25px;
}
.grid-3-col {
    display: grid;
    grid-template-columns: repeat(3, auto);
}
.right-span-3 {
    grid-column: 2/5;
}
.contact-link {
    color: var(--primary-yellow);
}
.contact-link:hover {
    color: var(--white-color);
    background: var(--primary-yellow);
}
.bio-photo {
    position: relative;
    display: inline-block;
}
.bio-photo .img-top {
    /* display: none; */
    position: absolute;
    opacity: 0%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
.bio-photo:hover .img-top {
    /* display: inline; */
    opacity: 100%;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}