:root
{
    --foreground-color-1: hsl(0, 0%, 100%);
    --foreground-color-2: hsl(3.9, 100%, 90%);
    --shadow-color: hsl(240.3, 100%, 34.7%);
    --background-color: #00f;
}

@font-face
{
    font-family: posterBodoni;

    src: url('Bodoni\ Poster.otf');
}

body
{
    margin: 0;
}

.logo-form
{
    fill: #fff;
}

.logo-form:hover
{
    fill: var(--foreground-color-2);
}

@media all and (max-width: 600px)
{
    .background
    {
        flex-direction: column-reverse;
    }
}

.background
{
    display: flex;

    width: 95vw;
    height: 95vh;
    margin: auto;
    margin-top: 2.5vh;

    background-color: var(--background-color);

    justify-content: center;
}

.image-left
{
    width: 300px;
    height: auto;
    margin: auto;
}

.right-links
{
    display: flex;
    flex-direction: column;

    margin: auto;
}

.right-link
{
    font-family: posterBodoni;
    font-size: xxx-large;

    padding-left: 0 5vw 0 5vw;

    text-align: right;
    text-decoration: none;

    color: var(--foreground-color-1);
}

.right-link:hover
{
    color: var(--foreground-color-2);
}
