:root {
  --foreground-color-1: hsl(0, 0%, 100%);
  /* --foreground-color-2: hsl(3.9, 100%, 90%); */
   --foreground-color-2:hsl(41,76%,52%);
   --light-brown-color: hsl(53,29%,76%);
  --grey-color: hsl(52,10%,31%);
  --background-color: hsl(183,100%,21%);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  fill: var(--foreground-color-1);
}

.logo:hover {
  fill: var(--foreground-color-2);
}

header {
  position: fixed;
  top: 0;
  background: var(--background-color);
}

.background {
  display: flex;
  width: auto;
  min-width: 100vw;
  height: auto;
  min-height: 100vh;
  margin: auto;
  background-color: var(--background-color);
  justify-content: center;
}

.border {
  position: fixed;
  z-index: 1000;
  background-color: var(--foreground-color-1);
}

#borderTop {
  top: 0;
  left: 0;
  width: 100vw;
  height: 2vmin;
}

#borderRight {
  top: 0;
  right: 0;
  width: 2vmin;
  height: 100vh;
}

#borderBottom {
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 2vmin;
}

#borderLeft {
  top: 0;
  left: 0;
  width: 2vmin;
  height: 100vh;
}

.image-left {
  width: 50vw;
  min-width: 300px;
  margin: auto;
}

.right-links {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 2vh;
  padding-right: 5vw;
  flex: 1;
  align-items: flex-end;
}

.nav-link {
  font-family: bodoni-urw, serif;
  font-size: 60px;
  font-weight: 800;
  animation: un-stretch .05s ease-out 0s;
  text-align: right;
  white-space: nowrap;
  text-decoration: none;
  color: var(--foreground-color-1);
  flex: 1;
}

.nav-link:hover {
  animation: stretch .15s ease-in 0s;
  color: var(--foreground-color-2);
  animation-fill-mode: both;
}

@media only screen and (max-width: 700px) {
  .background {
    flex-direction: column;
  }

  .nav-link {
    animation: none !important;
    flex: 0 !important;
  }

  .right-links {
    padding: 0 0 0 0 !important;
    align-items: center;
    justify-content: center;
  }

  nav {
    flex-flow: column;
  }
  .nav-image {
    padding 0 !important;
    margin: auto;
    width: 45px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

}

nav {
  position: absolute;
  width: 100vw;
  background: var(--background-color);
  display: flex;
  flex-grow: none;
  justify-content: space-between;
}

nav .nav-link {
  font-size: 20px;
  animation: none !important;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-box {
  padding: 2vmin;
}

.nav-image {
  padding-left:5vmin;
  width: 50px;
}

#selected {
  color: var(--light-brown-color);
}

#selected:hover {
  color: var(--foreground-color-2);
}

@keyframes stretch {
  100% {
    font-size: 63px;
  }
}

@keyframes un-stretch {
  0% {
    font-size: 63px;
  }

  100% {
    font-size: 60px;
  }
}
