:root {
	/* --foreground-color-1: #fe9f00; */
	--foreground-color-1: #aaaaaa;
	/* --foreground-color-2: #bd0700; */
	--foreground-color-2: #0000FF;
	--foreground-color-3: #ffe2e0;
	--shadow-color: #100b10;
	/* --background-color: #ff380c; */
	--background-color: #000000;
}


@font-face {
	font-family: posterBodoni;
	src: url("Bodoni\ Poster.otf");
}


body {
	margin: 0px;
}

.flex-center {
	background-color: var(--background-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.Aligner-item {
	max-width: 50%;
}

.Aligner-item--left {
	align-self: center;
}

.Aligner-item--right {
	align-self: flex-end;
}

/* Small screens */
@media all and (max-width: 800px) {
	.flex-center {
		/* On small screens, we are no longer using row direction but column */
		flex-direction: column;
	}
}

#logo-large {
	margin: auto;
	height: 300px;
	width: 300px;
}


#navigation {}

#navigation div {}

#navigation a {
	font-size: 4em;
	text-transform: uppercase;
	font-family: posterBodoni;
	text-decoration: none;
	color: var(--foreground-color-1);
	text-shadow: 7px 7px 0px var(--shadow-color);
}

#navigation a:hover {
	color: var(--foreground-color-2);
	text-shadow: none;
}

#shadow {
	fill: var(--foreground-color-2);
}

#logo-large>#collision-box {
	fill: transparent !important;
}

#collision-box:hover ~ #foreground {
	fill: var(--foreground-color-2);
}

#logo-large:hover>#foreground {
	fill: var(--foreground-color-2);
}