:root {
    --white-color: hsl(0, 0%, 100%);
    --foreground: rgb(36, 36, 36);
    --primary-red: #e52e1e;
    --primary-blue: #5c79ed;
    --primary-yellow: #f6BC2C;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sora', serif;
    font-size: 10px;
    line-height: 15px;
    color: var(--foreground);
}

header {
    padding: 25px 25px 25px 25px;
}

a {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
}

.center {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav {
    width: 66vw;
}

#nav ul {
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

#nav li {
    list-style-type: none;
    display: inline;
    padding: 0px;
    margin: 0px;
}

.nav-item {
    color: var(--foreground);
    height: max-content;
}

.heading-name {
    font-size: 2em;
    line-height: 2em;
}

.selected {
    animation: 7s ease-in-out 0.5s 1 forwards flexing;
}

@-webkit-keyframes flexing {
    0% {
        letter-spacing: inherit;
    }
    10% {
        letter-spacing: 2px;
    }
    100% {
        letter-spacing: 2px;
    }
}

@-o-keyframes flexing {
    0% {
        letter-spacing: inherit;
    }
    10% {
        letter-spacing: 2px;
    }
    100% {
        letter-spacing: 2px;
    }
}

@-moz-keyframes flexing {
    0% {
        letter-spacing: inherit;
    }
    10% {
        letter-spacing: 2px;
    }
    100% {
        letter-spacing: 2px;
    }
}

@keyframes flexing {
    0% {
        letter-spacing: inherit;
    }
    10% {
        letter-spacing: 2px;
    }
    100% {
        letter-spacing: 2px;
    }
}

.nav-home:hover * {
    color: var(--white-color);
    background: var(--foreground);
}

.nav-about.selected {
    color: var(--primary-yellow);
}

.nav-about:hover {
    color: var(--white-color);
    background: var(--primary-yellow);
}

.nav-computer-science.selected {
    color: var(--primary-red);
}

.nav-computer-science:hover {
    color: var(--white-color);
    background: var(--primary-red);
}

.nav-design.selected {
    color: var(--primary-blue);
}

.nav-design:hover {
    color: var(--white-color);
    background: var(--primary-blue);
}

.image-top {
    width: 50vh;
    position: absolute;
    opacity: 100%;
    transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
}

.image-top:hover {
    opacity: 0%;
    transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
}

.image-bottom {
    position: absolute;
    width: 50vh;
}

.content {
    display: flex;
}

.content-left {
    width: 50vh;
}

.content-right {
    width: 50vh;
}

.padding-all {
    padding: 25px 25px 25px 25px
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.right-span-3 {
    grid-column: 2/5;
}

.contact-link {
    color: var(--primary-yellow);
}

.contact-link:hover {
    color: var(--white-color);
    background: var(--primary-yellow);
}

#background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    z-index: -3 !important;
}